### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import os
import pandas as pd
from pathlib import Path

#declare variables required
total_number_schools = 0
Total_number_of_students = 0

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [117]:
#Display the school dataframe to understand the structure of the data
school_data.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [118]:
#Display the student dataframe to understand the structure of the data
student_data.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [119]:
# Initialize the list to be used to build the dataframe of results
results_list =[{'Total Schools':0, 'Total Students':0, 'Total Budget': 0.0, 'Average Maths Score': 0.0, 'Average Reading Score':0.0, '% Passing Maths':0.0, '% Passing Reading':0.0, '% Overall Passing':0.0}]
school_results_df = pd.DataFrame(results_list)
school_results_df.head()
#Calculate the total number of schools
total_number_of_schools = len(school_data)
school_results_df['Total Schools'] = total_number_of_schools
school_results_df.head()
#Calculate the total number of students
total_number_of_students = len(student_data)
school_results_df['Total Students'] = total_number_of_students
school_results_df.head()
#Calculate the total budget
total_schools_budget = school_data['budget'].sum(axis=0)
school_results_df['Total Budget'] = total_schools_budget
school_results_df['Total Budget'] = school_results_df['Total Budget'].map('${:,d}'.format)
# learnt how to format numbers df.loc[:, "Population"] = df["Population"].map('{:,d}'.format)
# learnt how to format numbers df["Value"] = df["Value"].map("${:,.0f}K".format)
#Calculate the Average Maths Score
average_maths_score = student_data['maths_score'].mean(axis=0)
school_results_df['Average Maths Score'] = average_maths_score
#school_results_df['Average Maths Score'] = school_results_df['Average Maths Score'].map('{:,d}'.format)
#Calculate the Average Reading Score
average_reading_score = student_data['reading_score'].mean(axis=0)
school_results_df['Average Reading Score'] = average_reading_score
#Calculate % Students who passed maths
students_passed_maths_df = student_data.loc[(student_data['maths_score'] >= 50)]
school_results_df['% Passing Maths'] = (len(students_passed_maths_df)/total_number_of_students)*100

# inaccessible_df = road_stops_cleaned_df.loc[((road_stops_cleaned_df["SURFACE"] == "Unsurfaced") | 
#                                             (road_stops_cleaned_df["ACCESSIBLE_TOILETS"] == "No") |
#                                             (road_stops_cleaned_df["ACCESSIBLE_TABLES"] == "No")) &
#                                             (road_stops_cleaned_df["OWNERSHIP"] == "Main Roads"), :]
# inaccessible_df
school_results_df.head()
#print("Total number of schools is: " + str(total_number_of_schools))

#calculate the total number of students

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428",70.338192,69.980138,86.078632,0.0,0.0

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type